.login>Section>form{
  /* border: 1px solid black; */
  margin: 3rem;
  text-align: center; 
  padding-top:1rem;
  padding-bottom: 1rem;
  margin-bottom: 7.2rem;
  margin-top: 5rem;
}
.login>section>form>label{
  font-size:1.5rem;
  font-weight: 700;
  margin-left: -3rem;
}
.login>section>form>input{
  width: 20rem;
  padding: .5rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}
.login>section>form>button{
  width: 21rem;
  padding: .5rem;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: rgb(215, 60, 4);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.login>section>form>button:hover{
  background-color: rgb(164, 49, 7);
}